.grey-bg {  
    background: linear-gradient(90deg, #2e3440 20%, #00FFFF 50% );
    background-size: 50% auto;
    margin:vh;
    
    min-height: 500px;
    font-family: 'Work Sans', sans-serif;
}
.card-content:hover{
    background-color:rgb(7, 4, 39);
    color: white;
}

.card-content{
    background-color: blanchedalmond;
}